/* Your card CSS code here */

.card {
  height: 250px;
/*  text-shadow: 0 1px 3px rgba(0,0,0,0.6);*/
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 25px;
  margin-bottom: 20px;
}

.card-user {
  position: absolute;
  right: 15px;
  top: 15px;
}

.card-category {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 25px;
}

.card-description {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.card-description h2 {
  font-size: 24px;
  line-height: 0px;
}

.card-description p {
  font-size: 16px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  transition: background 5s ease
}

.card-link:hover{
  border-radius: 25px;
  opacity: 0.5;
}

/* Card design */
